#ulti-root {
    position: relative;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: green;
    z-index: 0;
}

.ulti-goal-line {
    background-color: white;
    min-width: 3px;
    min-height: 3px;
    position: absolute;
    z-index: 1;
}

.ulti-player {
    min-width: 10px;
    min-height: 10px;
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 2;
}

#ulti-disc {
    background-color: lightskyblue;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    transition: all .5s ease-in-out;
    z-index: 50;
}

.ulti-tooltip {
    min-width: 5px;
    min-height: 20px;
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    font-family: 'sans-serif';
    padding: 4px 8px 4px 8px;
    position: absolute;
    transition: all .2s ease-in-out;
    opacity: 0;
    z-index: 999;
}

/* .ulti-player-number {
    margin: 4px;
}

.ulti-player-name {
    margin-right: 4px;
} */